<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="./vendor/autoload.php"
>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
        <ini name="error_reporting" value="-1" />
        <ini name="intl.default_locale" value="en" />
        <ini name="intl.error_level" value="0" />
        <ini name="memory_limit" value="-1" />
    </php>

    <testsuites>
        <testsuite name="AdvertisingBundle Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html"
            target="./build/coverage"
            lowUpperBound="35"
            highLowerBound="70"/>
        <log type="coverage-clover"
            target="./build/reports/phpunit.coverage.xml"/>
        <log type="junit"
            target="./build/reports/phpunit.xml"/>
        <log type="coverage-text"
            target="php://stdout"
            showUncoveredFiles="false"/>
    </logging>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
